# ==========================================
# Archivo de Configuración del Entorno (.env)
# ==========================================
#recordar que se pone .env en el arhcivo
#a pesar de todo se sigue usando env aunq este dockerizado tanto en front y back ojito 
# Base de Datos
DATABASE_URL=postgresql://admin:password@localhost:5432/saas_db

# Seguridad y JWT
SECRET_KEY=b012519789d3738d89870fc72c673c2b3061605362cf66d7e4194d5d4c688147
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Integración LLM (IA)
LLM_API_KEY=

# Configuración Biométrica (ZKTeco)
ZKTECO_IP=
ZKTECO_PORT=4370

# Entorno
ENVIRONMENT=production
